
body {
    font-family: Georgia, Times, serif;
}
/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
    display: table-cell;
    vertical-align: middle;
}

.column2 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
    display: table-cell;
    vertical-align: middle;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    margin: 10%;
}

h2 {
    color: red;
}

.cam {
    max-height: 50vh;

    /* padding-right: 10vw;
    padding-left: 10vw;     */
    display: block;
    vertical-align: middle;
    margin: 0 auto; 
    margin-top: 10%;
    padding-top: 4px;  
    
}
em {
color: red;
font-style: bold;
font-size: 2.3rem;
padding: 2px;
}

strong {
font-style: bold;
}
.nav {
    background-color: white;
    align-content: center;
    text-align: center;
 }
 
 .nav ul {
    display: inline;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
 }
 .white {
     color:white;
 }

 .red {
     color: red;
 }
.reverse {
    /* unicode-bidi:bidi-override;
    direction:rtl; */
}