@import 'reset';
@import 'variables';

@mixin phone {
    @media screen and (max-width: 400px) {
        // when content is called be include, 
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 401px) and (max-width: 960px) {
        @content;
    }
}

body {
    font: 1.5rem $font-stack;
    color: $primary-color;

    @include phone {
        background-color: red;
    }

    @include tablet {
        background-color: olive;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#content {

    article {
        height: 100%;
        position: relative;
        display: inline-block;
        margin: 0 auto;

        img {
            height: 100%;
            border-radius: 50%;
            box-shadow: 10px 10px 20px #00000080;
            transition: all 2s;
            // transform-origin: 0% 0%;

            &:hover {
                animation: spin 5s infinite;
                // transform: rotate(90deg);
                // opacity: 0;
                // margin-left: 100px;
                // transform: scale(-1, 1.5) rotate(360deg);
            }


            @include tablet {
                height: 50%
            }
        }

        .caption {
            position: absolute;
            left: 0;
            bottom: 2rem;
            color: $caption-color;
            background: $caption-background;
            padding: 0.5rem;
        }
    }


}

// call mixin with @include, parenthesis pass a $value: default
@mixin center($height: 100px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
    width: 100%;
}


header,
section {
    @include center(300px);
    font-size: 2rem;
    text-shadow: 2px 2px 6px #00000080;
}

footer {
    @include center(200px);
    background: radial-gradient(olive, white);

}

@keyframes foo {
    0% {
        background-color: black;
        height: 50px;
    }

    50% {
        height: 200px;
    }

    100% {
        background-color: white;
        height: 50px;
    }
}

nav {
    @include center(80x);
    font-size: 2rem;
    // background-color: darkgoldenrod;
    // animation: foo 3s 2 forwards;
}

// #content article,
// #content img {
//     height: 100%;
// }