* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: sans-serif;
}

footer {
    height: 18px;
    margin-bottom: 30px;
}

header,
div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
}

section {
    width: 100%;
    height: 100%;
    /* display: block; */
}

#title {
    width: 350px;
    background-color: white;
    opacity: 0.75;
    margin-top: 30px;
    text-align: center;
}

#ever {
    font-size: 4rem;
}

#banner {
    margin: 10px 0;
    display: flex;
    background-color: white;
    opacity: 0.75;
    height: 50px;
}

#banner ul {
    width: 100%;
    list-style: none;
    margin: 0 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#banner ul li {
    text-align: center;

}

#ingredients {
    background-color: white;
    opacity: 0.75;
    height: 300px;
    padding: 5px 10px;
}

#ingredients ul {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    list-style: none;
    margin: 5px 0;
}

#instructions {
    height: 300px;
    background-color: white;
    opacity: 0.75;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#instructions ol {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    margin: 5px 0;
    display: list-item;
}

#instructions ol li {}


/* MOBILE */
@media screen and (max-width: 550px) {
    body {}

    h3 {
        font-size: 1rem;
    }

    #banner {
        height: 30px;
    }

    li {
        font-size: 0.8rem;
    }

    footer {
        font-size: 1.2rem;
    }

}

/* TABLET */
@media screen and (min-width: 551px) and (max-width: 960px) {
    body {}

    h3 {
        font-size: 1.3rem;
    }

    #banner {
        height: 40px;
    }

    li {
        font-size: 1.1rem;
    }

    footer {
        font-size: 1.5rem;
    }

}

/* DESKTOP */
@media screen and (min-width: 961px) {
    body {}

    main {
        width: 960px;
        margin: 0 auto;
    }

    h3 {
        font-size: 1.8rem;
    }

    li {
        font-size: 1.8rem;
    }

}