body {
    background-color: #A4A7A8;
    max-width: 1500px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    /* the above or shorthand below */
    font: Arial, Helvetica, sans-serif, 18px, bold;
    background-color: black;
    color: white;
}

hr {
    color: black;
}

.title-sub {
    align-content: center;
}

.title {
    font-size: 1.75rem;
    text-align: center;
}

header {
    align-content: center;
}

.banner {
    max-width: 1000px;
    left: 50%;
    margin-left: 250px
}

header {
    background-color: #A4A7A8;
}

img {
    max-width: 275px;
    max-height: 500px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
}

ol {
    font-weight: bold;
}

ol ul {
    font-weight: normal;
}

ol ol {
    font-weight: normal;
}

p em {
    font-size: 0.85rem;
}


.nav {
    background-color: #545B62;
    align-content: center;
    text-align: center;
}

.nav ul {
    display: inline;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

a:visited {
    color: black;
}

.albums {
    height: 100vh;
}

.albums div {
    float: left;
    width: 32%;
    display: inline;
    padding: 5px;
}

.albums li ol {
padding: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0%;
}