@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.top{
width: 100vw;
}

.nav {
    width: 100vw;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: baseline;
    justify-content: space-around;
}

.nav ul li {

}
.nav ul :nth-child(1) {
    padding: 10px;
}

.nav ul :nth-child(6) {
padding: 5px;
}

.nav ul :nth-child(7) {
    padding: 5px;
}


.logo {
font-size: 2.5rem;
}

.middle {
    
}

.jingle {

}

.explore {

}

.bottom {

}

.ad {

}