nav {
    border: 4px solid orange;
    display: flex;
    /* justify-content: space-around; */
}

nav div {
    /* flex: 1; */
    padding: 0.5rem 1rem;
    /* width: 100%; */
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid blue;
}

.search {
    /* margin-left: auto; */
    flex: 2;
}

.home {
    flex: 1;
}

.logout {
    flex: 1;

}